@import url('https://fonts.googleapis.com/css?family=Spectral:400,700');

$azul: #0067B0;
$azul-oscuro: #34495E;
$azul-claro: #1297E0;
$blanco: #FFFFFF;
$rojo-oscuro: #C0392B;
$verde-claro: #27AE60;
$gris: #BDC3C7;
$gris-claro: #ECF0F1;

$font-spectral: 'Spectral', serif;
